/* 基本設定 */
body {
    font-family: 'Kiwi Maru', serif;
    line-height: 1.6;
    /*テキストの色（茶色）*/
    color: #5d4037;
    margin: 0;
    background-color: #fff4c7;
}

header {
    /*ヘッダーの色（黄色）*/
    background-color: #ffb300;
    /*テキストの色（茶色）*/
    color: #5d4037;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #5d4037;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    border-bottom: 3px solid #5d4037;
}

#calendar-section {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

#calendar {
    font-family: Kiwi Maru, serif;
    background: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ffb300;
}

#status {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ffb300;
}

th {
    background-color: #ffb300;
    color: white;
}

#access {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.access-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #ffb300;
}

.access-info {
    flex: 1;
    min-width: 250px;
}

.access-map {
    flex: 1;
    min-width: 300px;
    height: 300px;
    background-color: #eee;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}